html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    color: var(--main-title-color);
    font-family: "Roboto", sans-serif;
}

.list {
    list-style: none;
    margin: 0;
    padding-left: 0;
}
img{
    max-width: 100%;
    height: auto;
}