:root {
    --main-title-color: #212121;
    --main-background-color: #f5f5f5;
    --secondary-title-color: #757575;
    --secondary-background-color: #2f303a;
    --accent-color: #2196f3;
    --hero-gradient: (rgba(47, 48, 58, 0.4));
}