.header {
    background-color: #ffffff;
    &__container {
            display: flex;
            align-items: center;
        }
}

.logo {
    font-family: "Raleway";
    @include font(700, 26px, 1.19);
    text-decoration: none;
    color: #000000;
}

.header__logo {
    margin-right: 93px;    
}

a>span {
    color: #2196f3;
}

.navigation__list,
.contacts-list.list {
    display: flex;
        
    @include font(500, 14px, 1.14, 0.02em);
    }

.navigation__item:not(:last-child),
.contacts-list__item:not(:last-child) {
    margin-right: 50px;
}

.navigation__list.tel,
.contacts-list.tel {
    margin-left: auto;
}

.navigation__item,
.contacts-list__item{
    padding-top: 32px;
    padding-bottom: 32px;
  }


.navigation__link,
.contacts-list__link {
    padding-top: 32px;
    padding-bottom: 32px;

    font-family: "Roboto", sans-serif;
    font-style: normal;
    color: var(--main-title-color);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &.tel {
            color: var(--secondary-title-color);
        }

    &:hover,
    &:focus {
            color: var(--accent-color);
        }

    &.current {
            position: relative;
            color: var(--accent-color);

            &::after {
                    content: "";
                    width: 100%;
                    height: 4px;
                    border-radius: 2px;
                    background-color: var(--accent-color);
                    padding-left: 2px;
                    padding-right: 2px;
                    position: absolute;
                    bottom: -1px;
                    left: 0;
                }
        }
}

.contacts-list__icon {
    margin-right: 10px;
    fill: currentColor;
}

.navigation,
.contacts-list.list{
    display: none;
}

.mob-menu{
    position: fixed;
    background-color: #ffffff;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    padding-top: 10px;
    padding-bottom: 10px;

    >.conteiner{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.btn-mob-close, .btn-mob-open{
    display: block;
    margin-left: auto;
    margin-bottom: 30px;
}

.navigation-mobile

.navigation-mobile__list

.navigation-mobile__item

.navigation-mobile__link{
    @include font(500, 40px, 1.18, 0.02em);
    color: #212121;
}

.navigation-mobile__link:not(:last-child) {
    margin-bottom: 32px;
}


.contacts-mobile

.contacts-mobile__item

.contacts-mobile__link

.mobile-soc

.mobile-soc-item

.mobile-soc-link{

}