.hero {
    max-width: 1600px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient (rgba(47, 48, 58, 0.4)), url(../images/hero-mob.jpg);
    @include retina{
    background-image: linear-gradient(rgba(47, 48, 58, 0.4)), url(../images/hero-mob-2x.jpg);
    }
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--secondary-background-color);
    text-align: center;

    @include tablet{
    background-image: linear-gradient(rgba(47, 48, 58, 0.4)), url(../images/hero-tab.jpg);
    @include retina {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4)), url(../images/hero-tab-2x.jpg);
        }
    }

    @include desktop {
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
    @include retina {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4)), url(../images/hero-2x.jpg);
                }
        }
}

.hero__title {
    margin: 0;
    margin-bottom: 30px;
    @include font(900, 20px, 1.62, 0.06em);

    @include mobile {
            @include font(900, 26px, 1.62, 0.06em);
        }


    @include desktop{
        @include font(900, 44px, 1.36, 0.06em);
    }

    
    color: #ffffff;
    text-transform: uppercase;
}

.hero__btn {
    padding: 10px 32px;
    border: none;
    border-radius: 4px;

    display: inline-block;
    min-width: 216px;
    text-align: center;

    font-family: inherit;
    color: #ffffff;
    background-color: #2196f3;
    @include font(700, 16px, 1.88, 0.06em);
    cursor: pointer;
}