.team {
    background-color: #f5f4fa;
    }

.team-title {
    margin: 0;
    margin-bottom: 50px;

    @include font(700, 36px, 1.17);
    text-align: center;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;

    &>li {
        width: 100%;
        
            @include tablet {
                width: calc(100% / 2 - 30px / 2);
            }
        
            @include desktop {
                width: calc(100% / 4 - 90px / 4);
            }


            // width: 270px;
    
            background: #ffffff;
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            border-radius: 0px 0px 4px 4px;

            &>img {
                    display: block;
                }
        }
}

.photo-description {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-item {
    margin: 0;
    margin-bottom: 10px;

    @include font(500, 16px, 1.19);
    text-align: center;
}

.team-text {
    margin: 0;
    margin-bottom: 16px;

    font-weight: 400;
    color: var(--secondary-title-color);
    text-align: center;
}

.team-soc,
.footer-soc {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.team-soc-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }
}

.team-soc-icon {
    fill: rgba(175, 177, 184, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .team-soc-link:hover &,
    .team-soc-link:focus & {
        fill: #ffffff;
    }
}



